/*!
 * Portfolio for Jesper Gundlund Johansen
 * https://gundlund.dev
 *
 * -----------------------
 *
 * Find uncompiled source at Github:
 * https://github.com/jayj/portfolio
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-size: 150%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: linear-gradient(
        to bottom right,
        rgba(255, 99, 71, 0.15),
        rgba(255, 255, 255, 0)
      )
      no-repeat,
    url(../images/header.png) repeat;
  background-color: #30272b;
  margin: 0;
  color: #fff;
  padding: 15vw;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.3;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #ff1070;
  text-decoration: underline;
}

::selection {
  background: #ff1070;
  color: #fff;
}

h1 {
  margin: 0;
}

.social-links {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.icon > svg {
  fill: currentColor;
  width: 3rem;
  height: 3rem;
  transition: transform 150ms ease-in-out;
}

.icon:hover > svg,
.icon:focus > svg {
  fill: #f71570;
  transform: scale(1.5);
}

@media (min-width: 40em) {
  .social-links {
    margin-top: 4rem;
  }

  .icon > svg {
    width: 6rem;
    height: 6rem;
  }
}
