/* Section: Contact
   ========================================================================== */

#contact {
    min-height: 25vh;
}
.contact-wrapper {

}

.contact-info {
	margin-bottom: $size__gutter;
	font-size: 2rem;
	text-align: center;

	a {
		display: block;
		margin-bottom: 2rem;
	}
}
