/* Section: Skills
   ========================================================================== */

.skills-container {
    background: #fff;
    padding: $size__gutter;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $size__gutter;
}

.skills {
    flex: 0 30%;
    margin-top: 1rem;
    font-size: 1.6rem;

    ul {
        padding: 0;
        list-style: none;
    }

    li {
        //border-bottom: 1px solid $color__gray-lighter;
        padding: 0.8rem 0;
    }

    .divider {
        border-top: 1px solid $color__gray-light;

        padding: 0.5rem 0 0 0;
        margin-top: 0.8rem;
            font-size: 1rem;
            text-align: right;

            color: $color__gray;

        &:not(:empty) {
            margin-top: 1rem;
            margin-bottom: -1rem;
        }
    }

    .divider ~ li {
        color: darken($color__gray, 15%);
    }

    svg {
        fill: $color__gray; // tomato
        @include square(2rem);
        vertical-align: middle;
        margin-right: 0.6rem;
    }
}


.skill-buttons {

    a {
        flex: 1;

        background: linear-gradient(to top, rgba($color__gray, 0.2), transparent 100%);
        color: #666;
        padding: 1rem;
        border-radius: 10px;
        font-size: 2.2rem;
        font-weight: 300;
    }

    a + a {
        text-align: right;
        display: inline-flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-left: $size__gutter;

        svg {
            margin-left: 1.5rem;
            margin-right: 0;
        }
    }

    svg {
        fill: $color__gray-light;
        margin-right: 1.5rem;
    }
}

