/* Layout: Grid
   ========================================================================== */

/**
 * Container
 */
.container {
    margin: 0 auto;
    max-width: 100%;
    padding: 0 2rem;

    @include breakpoint(screen-sm) {
        padding: 0 4rem;
    }

    @include breakpoint(screen-md) {
        width: $size__site--md;
    }
}
