/* Layout: Header
   ========================================================================== */

header[role="banner"] {
    background: $header__bg;
    background-color: $header__bg-color;

    color: $header__text-color;
    font-size: $header__text-size;

    min-height: 42rem;

    // Set the height to 100% of the viewport
    //height: 100vh;

    // Vertical and horizontially center the header content
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; // no flexbox

    position: relative;

    h1 {
        text-shadow: 1px 1px 2px rgba(#000, 0.3);
    }

    @include breakpoint(screen-xs) {
        font-size: ($header__text-size + 0.3);

        justify-content: flex-start; // center won't work because of the navigation
        min-height: 45rem;

        > .container {
            margin-top: 7rem;
        }
    }

    @include breakpoint(screen-sm) {
        font-size: ($header__text-size + 0.5);

        > .container {
            margin-top: 8rem;
        }
    }

    @include breakpoint(screen-md) {
        > .container {
            margin-top: 10rem;
        }

        p {
            padding: 0 ($size__gutter * 3);
        }
    }
}
