/* Layout: Header
   ========================================================================== */

header {
	background: #2da86d;
	min-height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 2.4rem;
	color: #fff;
	text-align: center;

	h1 {

	}
}
