/* Layout: Menu
   ========================================================================== */

.site-nav {
	background: tomato;
	height: 10vh;
	width: 100%;


	button {
		display: none;
	}
.nav-fixed .site-nav {
	top: 0;
	position: fixed;
}
