/* Layout: Menu
   ========================================================================== */

.navigation {
    position: absolute;
    height: $menu__height;


    // All menu items
    a {
        color: $menu__text-color;
        font-size: $menu__text-size;
    }


    // Mobile navigation
    @include breakpoint(screen-xs, max) {
        top: $size__gutter--small;
        left: $size__gutter--small;
        text-align: left; // overwrites text-align from header

        .container {
            // Overwrite container styles
            margin-left: 0;
            padding: 0;
            width: 30rem;
            max-width: 90%;
        }

        a {
            background: $menu__bg-color;
            border-bottom: 1px solid rgba($menu__text-color, 0.15);
            padding: 1.3rem 2rem;

            // Hide the menu items by default
            display: none;

            &.current {
                background: #222;
            }

            &:last-child {
                border-bottom: 0;
            }

            // Show the menu items
            .nav-toggled & {
                display: block;
            }
        }

        // The toggle button
        .toggle-nav {
            // Center the button
            display: flex;
            align-self: center;
            height: 100%;
            width: 100%; // Make the whole navigation clickable

            svg {
                fill: $menu__text-color;
                @include square(4.8rem);
            }

            &:focus {
                outline: 0;

                svg {
                    fill: $color__gray-lighter;
                    filter: drop-shadow(0 0 10px #fff);
                }
            }
        }
    }


    // Normal navigation
    @include breakpoint(screen-xs, min) {
        background: $menu__bg-color;
        width: 100%;
        bottom: 0;
        left: 0;

        .container {
            // Center the items vertically and distribute them evenly on the line
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
        }

        // Don't show the text on the Home menu item
        // when the nav isn't fixed
        .home {
            color: transparent;
        }


        // Mark the current menu item
        // The background has to be set on a pseudo element
        // because of `align-items: center` on the container
        .current {
            position: relative;

            &:before {
                background: rgba(#fff, 0.1);
                content: "";
                display: block;
                position: absolute;
                z-index: -1;
                height: $menu__height;
                top: -1.9rem; // magic number

                // Make it bigger than it's container
                $size: 40%;
                width: 100% + $size * 2;
                left: -$size;
            }
        }

        // Hide the toggle button
        .toggle-nav {
            display: none;
        }

    }

}


/**
 * Fixed navigation
 */
.nav-fixed .navigation {
    background: $menu__bg-color--fixed;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: $zindex__menu;

    // Show the Home menu item
    .home {
        color: $menu__text-color;
    }

    .current:before {
        background: rgba(#fff, 0.2);
    }

    .toggle-nav {
        padding-left: 1rem;
    }
}


/**
 * Render the menu in it's own layer to take advantage of GPU hardware acceleration
 * https://dev.opera.com/articles/css-will-change-property/
 */
.navigation {
    // The old way
    transform: translateZ(0px);

    // The new way
    will-change: transform, position;
}
