/* Component: Buttons
   ========================================================================== */

.btn {
    display: inline-block;
    background: $btn__bg-color;
    border-radius: 5px;
    color: $btn__text-color;
    padding: 1.2rem 2rem;

    &:hover {
        color: $btn__text-color;
    }
}
