/* Section: Projects
   ========================================================================== */

.project {
    background: #fff;
    padding: $size__gutter--small;
    margin-bottom: $size__gutter;

    @include breakpoint(screen-sm) {
        padding: $size__gutter;
    }

    // Show content in rows
    // `reverse` makes sure the thumbnail is on the left
    @include breakpoint(screen-md) {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
}

/**
 * Project information
 */
.project-information {
    text-align: center;

    header {
        border-bottom: 1px solid $color__gray-light;
        padding-bottom: 1.5rem;
        margin-bottom: 1.5rem;
    }

    // It's now a row
    @include breakpoint(screen-md) {
        flex: 2;
        text-align: left;
    }
}

.project-title {
    font-size: 3rem;
    font-weight: 300;
    margin: 0 0 1rem;
}

.project-meta {
    color: #666;
    font-weight: 300;
    display: flex;
    flex-direction: column;

    @include breakpoint(screen-xs) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.project-type {
    font-size: 1.8rem;
}

.project-date {
    float: right;
    font-size: 1.5rem;
}

.project-information .btn {
    display: inline-block;
    margin-top: 1.5rem;
}

/**
 * Project preview
 */
.project-preview {
    margin-top: 2rem;
    position: relative;
    text-align: center;

    img {
        transition: opacity 275ms;
    }

    a:hover img {
        opacity: 0.75;
    }

    // It's now a row
    @include breakpoint(screen-md) {
        flex: 2;
        margin-right: $size__gutter;
        text-align: left;

        // Place the thumbnail in the middle no matter the height
        align-self: center;
    }
}

/**
 * Project thumbnails
 */
.project-thumbnails {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    a {
        // Each image should fill 20%
        flex-basis: 20%;
    }

    img {
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.15);
    }

    .active img {
        border-color: tomato;
        box-shadow: 0 0 6px tomato;
    }

    h2 {
        font-size: 2rem;
        font-weight: 300;
        margin: 0 0 1.5rem;
        flex: 100%;
    }

    @include breakpoint(screen-md) {
        margin-top: 4rem;

        // Make the heading one of the rows
        h2,
        a {
            flex: 1 auto;
        }

        // Center the heading in the middle
        h2 {
            margin: auto 0;
        }

        a {
            line-height: 0;
        }

    }

    @include breakpoint(screen-lg) {
        h2,
        a {
            flex: 1;
        }
    }

}

/**
 * Project images
 */
.project-images {
    width: 100%;
}

.project-image {
   // display: none;

    figcaption {
        //margin-top: $size__gutter; // Set here to avoid page "jump" when closing the image
        margin-bottom: $size__gutter--small;
        position: relative;
        padding-right: 8rem;
    }
}

.close-image {
    position: absolute;
    top: 1rem;
    right: 1rem;
    transition: transform 150ms ease-in-out, opacity 100ms;

    &:hover {
        transform: scale(1.8);
    }

    &:focus {
        outline: none;
        opacity: 0.5;
        transform: scale(1);
    }

    svg {
        @include square(3.5rem);
    }
}


.test {
    display: none;
}





/* Colorbox */

[class|=cbox-] {
    margin:0;
    padding:0;
    border:0;
    -webkit-box-sizing:border-box;
}

.cbox-root {
    background: rgba(0,0,0,0.8);
    position: fixed;
    z-index:999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    visibility: hidden;

}

.cbox-body {
    background:#fff;
    border-radius:4px;
    box-shadow: 0 0 15px rgba(0,0,0,1);
    position: absolute;
    top: 0;
    left: 0;
    outline:0;
    cursor: default;

}

.cbox-content {
  padding: 4rem 8rem;
    overflow:auto;
    -webkit-overflow-scrolling: touch;
}

.cbox-iframe {
    width:100%;
    height:100%;
    display:block;
    border:0;
}

.cbox-photo {
    position: absolute;
    top:50%;
    left:50%;
    max-width:none;
    display:block;
}

.cbox-next, .cbox-prev, .cbox-current {
    display: none;
}

.cbox-title {
    position: absolute;
    bottom: 0;
    left: 0;
}

.cbox-current {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
.cbox-next, .cbox-prev, .cbox-close {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background:url(../images/controls.svg) 0 0 no-repeat;
    width:22px;
    height:22px;
    text-indent:-999px;
    overflow:hidden;
    position: fixed;
}
/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
.cbox-next:active, .cbox-prev:active, .cbox-close:active {
    outline:0;
}
.cbox-prev {
    background-position: -50px 0;
    top: 50%;
    left: 5px;
    margin-top: -11px;
}
.cbox-prev:hover {
    background-position: -50px -25px;
}
.cbox-next {
    background-position: -25px 0;
    top: 50%;
    right: 5px;
    margin-top: -11px;
}
.cbox-next:hover {
    background-position: -25px -25px;
}
.cbox-close {
    background-position: 0 0;
    top: 5px;
    right: 5px;
}
.cbox-close:hover {
    background-position:0 -25px;
}
.cbox-error {

}

/* State */
.cbox_disabled { display: none; }

body.cbox_open {
    overflow: hidden;
}

body.cbox_open .cbox-root {
    cursor: pointer;
}

body.cbox_grouped .cbox-next,
body.cbox_grouped .cbox-prev,
body.cbox_grouped .cbox-current
{
    display: block;
}

body.cbox_grouped .cbox-photo {
    cursor: pointer;
}

body.cbox_loading .cbox-content{
    content: '';
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
    /*background:rgba(255,255,255,0.5);*/
    z-index:1;
}
