<header ng-controller="HeaderController">

    <h1>{{ greeting }}</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit <br />
        Numquam eius quo in ad deserunt nihil natus
    </p>

</header>


<nav class="site-nav">
    <button class="menu-icon">
        <svg><use xlink:href="#shape-menu" /></svg>
    </button>
    test

    <div class="trigger">
        {% for page in site.posts %}
            {% if page.menu %}
                <a href="{{ page.url | prepend: site.baseurl }}">{{ page.menu }}</a>
            {% endif %}
        {% endfor %}
    </div>
</nav>
